<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'eaecontrol/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'eaecontrol/style.css' %}">
    <script src="{% static 'eaecontrol/jquery-3.5.1.min.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="row text-center">
        <p>
            برای دریافت گزارش ماه و سال مورد نظر را وارد کنید
        </p>
        <form class="form-inline">
            <div class="form-group">
                <label>
                    ماه مورد نظر :
                </label>
                <select id="month" style="color: black">
                    {% for month in months %}
                        <option value={{ month.0 }}>{{ month.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>
                    سال مورد نظر :
                </label>
                <select id="year" style="color: black">
                    {% for year in years %}
                        <option value={{ year.0 }}>{{ year.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button id="search" class="btn btn-info">نمایش گزارش</button>
            </div>
        </form>
    </div>

</div>
<script>
    $('#search').on('click', function (e) {
        e.preventDefault()
        month = $('#month').val()
        year = $('#year').val()
        if (month && year)
            window.location.href = "mountly/" + year + "/" + month;
        else
            alert("نام کاربر را وارد کنید")
    })
</script>
</body>
</html>